*{
	box-sizing: border-box;
	text-align: center;
}

body{
	background-color: #fff0e7;
}

header{
	background-color: white;
}

h1{
	text-align: center;
	background-color: blue;
	color: white;
	width: 360px;
	height: 100px;
	padding: 0px;
}

nav{
	text-align: right;
}

section{
	float: left;
	background-color: white;
	border: 2px solid black;
	width: 50%;
}

aside{
	float: right;
	background-color: white;
	width: 50%;

}

#profilepic{
	border-radius: 10px;
	height: 230px;
	width: 180px;
	float: left;
}

footer{
	background-color: #666;
	padding: 20px;
	clear: both;
}